name: Compile and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check:
    name: Foundry project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install Foundry
        uses: onbjerg/foundry-toolchain@v1.0.5
        with:
          version: nightly

      - name: Run tests
        run: forge test --fork-url  https://arb1.arbitrum.io/rpc -vvv
